<settings version="1">
	<section id="plugin.video.kpl.tvp">

		<category id="tvp_main" label="30103" help="">
			<group id="11" label="30145">
				<setting id="script" type="string" label="30126" help="">
					<visible>false</visible>
					<level>0</level>
					<default>— — —</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript(plugin.video.kpl.tvp,ss,tvp_chan)</data>
					</control>
				</setting>
				<setting id="nothing" label="30126" type="boolean">
					<visible>false</visible>
					<level>0</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
				<setting id="email" type="string" label="30101" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30101</heading>
					</control>
				</setting>
				<setting id="password" type="string" label="30102" help="">
					<level>0</level>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string">
						<heading>30102</heading>
						<hidden>true</hidden>
					</control>
				</setting>
			</group>
		</category>

		<category id="tvp_look" label="30127" help="">
			<group id="21">
				<setting id="transmission_layout" type="integer" label="30124" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30128">0</option>
							<option label="30129">1</option>
							<option label="30130">2</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30124</heading>
					</control>
				</setting>
				<setting id="tv_icon_type" type="integer" label="30138" help="">
					<level>0</level>
					<default>0</default>
					<constraints>
						<options>
							<option label="30139">0</option>
							<option label="30140">1</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30138</heading>
					</control>
				</setting>
			</group>
			<group id="22" label="30153">
				<setting id="tv_entry_format" type="integer" label="30146" help="">
					<level>0</level>
					<default>1</default>
					<constraints>
						<options>
							<option label="30148">0</option>
							<option label="30149">1</option>
							<option label="30150">2</option>
							<option label="30151">3</option>
						</options>
					</constraints>
					<control type="list" format="string">
						<heading>30146</heading>
					</control>
				</setting>
				<setting id="tv_entry_custom_format" type="string" label="30152" help="30147">
					<level>0</level>
					<default>{times} {channel} – {title}</default>
					<constraints>
						<allowempty>false</allowempty>
					</constraints>
					<dependencies>
						<dependency type="enable" setting="tv_entry_format">0</dependency>
						<dependency type="visible" setting="tv_entry_format">0</dependency>
					</dependencies>
					<control type="edit" format="string">
						<heading>30147</heading>
					</control>
				</setting>
				<setting id="tvp_time_style_preview" type="string" label="30154" help="">
					<level>0</level>
					<default>[COLOR gray][ABC][/COLOR]</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript($ID,colorpicker,addon=$ID,settings=tvp_time_style)</data>
					</control>
				</setting>
				<setting id="tvp_time_style_value" type="string" label="30154" help="">
					<visible>false</visible>
					<default>COLOR gray;[]</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string" />
				</setting>
				<setting id="tvp_chan_style_preview" type="string" label="30155" help="">
					<level>0</level>
					<default>[COLOR gold][B]ABC[/B][/COLOR]</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript($ID,colorpicker,addon=$ID,settings=tvp_chan_style)</data>
					</control>
				</setting>
				<setting id="tvp_chan_style_value" type="string" label="30155" help="">
					<visible>false</visible>
					<default>COLOR gold;B</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string" />
				</setting>
				<setting id="tvp_prog_style_preview" type="string" label="30156" help="">
					<level>0</level>
					<default>ABC</default>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<data>RunScript($ID,colorpicker,addon=$ID,settings=tvp_prog_style)</data>
					</control>
				</setting>
				<setting id="tvp_prog_style_value" type="string" label="30156" help="">
					<visible>false</visible>
					<default />
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="edit" format="string" />
				</setting>
			</group>
			<group id="23">
				<setting id="tvp_xxx" type="action" label="30142" help="">
					<level>0</level>
					<data>RunScript(script.module.libka,efg,y=44)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="tvp_yyy" type="action" label="30143" help="">
					<level>0</level>
					<data>RunScript($ID,ss)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>

		<category id="tvp_devmain" label="30110" help="">
			<group id="90" label="30141">
				<setting id="isa_settings" type="action" label="30142">
					<level>2</level>
					<data>Addon.OpenSettings(inputstream.adaptive)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
				<setting id="ish_settings" type="action" label="30143">
					<level>2</level>
					<data>Addon.OpenSettings(script.module.inputstreamhelper)</data>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
			<group id="91" label="30144">
				<setting id="developing" label="30136" type="boolean">
					<level>3</level>
					<default>false</default>
					<visible>false</visible>
					<control type="toggle" />
				</setting>
				<setting id="debugging" label="30111" type="boolean">
					<level>3</level>
					<default>false</default>
					<visible>false</visible>
					<control type="toggle" />
				</setting>
				<setting id="api_details" label="30112" type="boolean">
					<level>3</level>
					<default>false</default>
					<control type="toggle" />
				</setting>
			</group>
		</category>

		<category id="tvp_create_playlist_m3u" label="30131" help="">
			<group id="1" label="30132">
				<setting id="m3u_filename" type="string" label="30125" help="">
					<level>0</level>
					<default>tvp.m3u</default>
					<control type="edit" format="string">
						<heading>30125</heading>
					</control>
				</setting>
				<setting id="m3u_folder" type="path" label="30133" help="">
					<level>0</level>
					<default />
					<constraints>
						<sources>
							<source>auto</source>
						</sources>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="path">
						<heading>30133</heading>
					</control>
				</setting>
				<setting id="tvp_build_m3u" type="action" label="30134" help="">
					<level>0</level>
					<data>RunPlugin(plugin://plugin.video.kpl.tvp/build_m3u)</data>
					<constraints>
						<allowempty>true</allowempty>
					</constraints>
					<control type="button" format="action">
						<close>true</close>
					</control>
				</setting>
			</group>
		</category>
	</section>
</settings>
